String Operation

# String Operation

In [1]:
name = "Nazir A Khan"

In [2]:
name.capitalize()

'Nazir a khan'

In [11]:
name.count('N')

1

In [12]:
name.islower()

False

In [17]:
name.startswith("N")

True

In [22]:
name.center(24, "O")

'OOOOOONazir A KhanOOOOOO'

In [23]:
name.swapcase()

'nAZIR a kHAN'

# List Object

In [1]:
person =["Nazir", "Saikiran", "Biswajeet", "Soumya", "Jaspreet"]

In [8]:
person

['Nazir',
 'Saikiran',
 'Biswajeet',
 'Soumya',
 'Jaspreet',
 <function all(iterable, /)>]

In [9]:
type(person)

list

In [12]:
person.index("Biswajeet")

2

In [13]:
person.reverse()

In [14]:
person

[<function all(iterable, /)>,
 'Jaspreet',
 'Soumya',
 'Biswajeet',
 'Saikiran',
 'Nazir']

In [16]:
person.pop(3)

'Biswajeet'

In [17]:
person

[<function all(iterable, /)>, 'Jaspreet', 'Soumya', 'Saikiran', 'Nazir']

In [20]:
person.insert(3,"Munna")

In [21]:
person

[<function all(iterable, /)>,
 'Jaspreet',
 'Soumya',
 'Munna',
 'Saikiran',
 'Nazir']

In [22]:
person.reverse()

In [23]:
person

['Nazir',
 'Saikiran',
 'Munna',
 'Soumya',
 'Jaspreet',
 <function all(iterable, /)>]

In [28]:
person.count("Nazir")

1

# Dictionary

In [31]:
dict = {"Name":"Nazir", "Age": 28, "DOB":"21/12/1992", "Place": "Bhubaneswar"}

In [32]:
dict

{'Name': 'Nazir', 'Age': 28, 'DOB': '21/12/1992', 'Place': 'Bhubaneswar'}

In [33]:
dict.keys()

dict_keys(['Name', 'Age', 'DOB', 'Place'])

In [35]:
dict.get("Age")

28

In [36]:
dict.items()

dict_items([('Name', 'Nazir'), ('Age', 28), ('DOB', '21/12/1992'), ('Place', 'Bhubaneswar')])

In [37]:
dict.values()

dict_values(['Nazir', 28, '21/12/1992', 'Bhubaneswar'])

In [38]:
dict.popitem()

('Place', 'Bhubaneswar')

In [39]:
dict

{'Name': 'Nazir', 'Age': 28, 'DOB': '21/12/1992'}

In [43]:
dict.clear()

In [44]:
dict

{}